In [1]:
from preprocess.preprocess import *
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
merger = Preprocess('./')

merger.clean_benzinga()
merger.clean_stock()
merger.clean_macro()

YouTube file not found
Snapshot of benzinga data:
         date  benz_rate
0  2018-05-01     7.4444
1  2018-05-02     7.3125
2  2018-05-03     7.6667
3  2018-05-04     6.3333
4  2018-05-07     7.6667
Size:(1598, 2)
Snapshot of stock data:
         date    close    volume  day   macd  macds  macdh    rsv_9   kdjk_9  \
0  2018-05-04  244.288  91222100    4  0.039 -0.012  0.051 -190.728 -260.374
1  2018-05-07  245.114  55304900    0  0.127  0.029  0.097 -155.361 -225.370
2  2018-05-08  245.114  67499200    1  0.177  0.069  0.108 -155.361 -202.033
3  2018-05-09  247.483  59666100    2  0.313  0.131  0.182 -106.900 -170.322
4  2018-05-10  249.797  72063900    3  0.510  0.222  0.288  -69.359 -136.668

      kdjk   kdjd_9     kdjd   kdjj_9     kdjj  rs_14  rsi_14     rsi  \
0 -260.374 -205.515 -205.515 -370.093 -370.093  1.640  62.119  62.119
1 -225.370 -212.133 -212.133 -251.843 -251.843  2.107  67.818  67.818
2 -202.033 -208.767 -208.767 -188.567 -188.567  2.107  67.818  67.818
3 -170.322 -195.952 -195.952 -119.063 -119.063  3.661  78.548  78.548
4 -136.668 -176.191 -176.191  -57.623  -57.623  5.296  84.118  84.118

   close_50_sma     ma50  close_200_sma    ma200    vix     TLT     IEF    SHY
0       242.621  242.621        242.621  242.621  14.77  118.99  101.64  83.19
1       243.120  243.120        243.120  243.120  14.75  118.80  101.59  83.19
2       243.452  243.452        243.452  243.452  14.71  118.69  101.42  83.20
3       244.028  244.028        244.028  244.028  13.42  117.98  101.19  83.16
4       244.749  244.749        244.749  244.749  13.23  118.93  101.40  83.16
Size:(1259, 25)
Snapshot of macro data:
         date  interest_rates
0  2018-05-01             1.7
1  2018-05-02             1.7
2  2018-05-03             1.7
3  2018-05-04             1.7
4  2018-05-05             1.7
Size:(1830, 2)

In [3]:
merger.merge_table()

In [4]:
merger.combination.head(1)

,date,close,volume,day,macd,macds,macdh,rsv_9,kdjk_9,kdjk,kdjd_9,kdjd,kdjj_9,kdjj,rs_14,rsi_14,rsi,close_50_sma,ma50,close_200_sma,ma200,vix,TLT,IEF,SHY,interest_rates,benz_rate
0,2018-05-04,244.288,91222100.0,4.0,0.039,-0.012,0.051,-190.728,-260.374,-260.374,-205.515,-205.515,-370.093,-370.093,1.64,62.119,62.119,242.621,242.621,242.621,242.621,14.77,118.99,101.64,83.19,1.7,7.189

In [5]:
merger.combination.isna().sum()

date              0
close             0
volume            0
day               0
macd              0
macds             0
macdh             0
rsv_9             0
kdjk_9            0
kdjk              0
kdjd_9            0
kdjd              0
kdjj_9            0
kdjj              0
rs_14             0
rsi_14            0
rsi               0
close_50_sma      0
ma50              0
close_200_sma     0
ma200             0
vix               0
TLT               0
IEF               0
SHY               0
interest_rates    0
benz_rate         0
dtype: int64

In [6]:
merger.export_to_csv()