In [1]:
from preprocess.preprocess import *
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
merger = Preprocess('./')

merger.clean_benzinga()
merger.clean_stock()
merger.clean_macro()

YouTube file not found
Snapshot of benzinga data:
         date  benz_rate
0  2018-05-01     7.4444
1  2018-05-02     7.3125
2  2018-05-03     7.6667
3  2018-05-04     6.3333
4  2018-05-07     7.6667
Size:(1598, 2)
Snapshot of stock data:
         date    close    volume  day   macd  macds  macdh    rsv_9   kdjk_9  \
0  2018-05-04  244.288  91222100    4  0.039 -0.012  0.051 -190.728 -260.374
1  2018-05-07  245.114  55304900    0  0.127  0.029  0.097 -155.361 -225.370
2  2018-05-08  245.114  67499200    1  0.177  0.069  0.108 -155.361 -202.033
3  2018-05-09  247.483  59666100    2  0.313  0.131  0.182 -106.900 -170.322
4  2018-05-10  249.797  72063900    3  0.510  0.222  0.288  -69.359 -136.668

      kdjk   kdjd_9     kdjd   kdjj_9     kdjj  rs_14  rsi_14     rsi  \
0 -260.374 -205.515 -205.515 -370.093 -370.093  1.640  62.119  62.119
1 -225.370 -212.133 -212.133 -251.843 -251.843  2.107  67.818  67.818
2 -202.033 -208.767 -208.767 -188.567 -188.567  2.107  67.818  67.818
3 -170.322 -195.952 -195.952 -119.063 -119.063  3.661  78.548  78.548
4 -136.668 -176.191 -176.191  -57.623  -57.623  5.296  84.118  84.118

   close_50_sma     ma50  close_200_sma    ma200    vix     TLT     IEF    SHY
0       242.621  242.621        242.621  242.621  14.77  118.99  101.64  83.19
1       243.120  243.120        243.120  243.120  14.75  118.80  101.59  83.19
2       243.452  243.452        243.452  243.452  14.71  118.69  101.42  83.20
3       244.028  244.028        244.028  244.028  13.42  117.98  101.19  83.16
4       244.749  244.749        244.749  244.749  13.23  118.93  101.40  83.16
Size:(1259, 25)
Snapshot of macro data:
         date       NFP  InterestRate  UnemploymentRate    PPI      CPI
0  2018-05-01  148755.0           1.7               3.8  203.2  250.792
1  2018-05-02  148755.0           1.7               3.8  203.2  250.792
2  2018-05-03  148755.0           1.7               3.8  203.2  250.792
3  2018-05-04  148755.0           1.7               3.8  203.2  250.792
4  2018-05-05  148755.0           1.7               3.8  203.2  250.792
Size:(1827, 6)

In [3]:
merger.macro

            date       NFP  InterestRate  UnemploymentRate      PPI      CPI
0     2018-05-01  148755.0          1.70               3.8  203.200  250.792
1     2018-05-02  148755.0          1.70               3.8  203.200  250.792
2     2018-05-03  148755.0          1.70               3.8  203.200  250.792
3     2018-05-04  148755.0          1.70               3.8  203.200  250.792
4     2018-05-05  148755.0          1.70               3.8  203.200  250.792
...          ...       ...           ...               ...      ...      ...
1822  2023-04-26  155673.0          4.83               3.4  257.381  302.918
1823  2023-04-27  155673.0          4.83               3.4  257.381  302.918
1824  2023-04-28  155673.0          4.83               3.4  257.381  302.918
1825  2023-04-29  155673.0          4.83               3.4  257.381  302.918
1826  2023-04-30  155673.0          4.83               3.4  257.381  302.918

[1827 rows x 6 columns]

In [4]:
merger.merge_table()

In [5]:
merger.combination.tail()

,date,close,volume,day,macd,macds,macdh,rsv_9,kdjk_9,kdjk,kdjd_9,kdjd,kdjj_9,kdjj,rs_14,rsi_14,rsi,close_50_sma,ma50,close_200_sma,ma200,vix,TLT,IEF,SHY,NFP,InterestRate,UnemploymentRate,PPI,CPI,benz_rate
1254,2023-04-28,415.93,89335600.0,4.0,2.842,3.201,-0.359,99.918,63.463,63.463,54.926,54.926,80.537,80.537,1.588,61.366,61.366,401.801,401.801,392.918,392.918,15.78,106.46,99.73,82.18,155673.0,4.83,3.4,257.381,302.918,7.583
1255,2023-05-01,415.51,62122300.0,0.0,3.007,3.162,-0.155,84.754,70.560,70.560,60.137,60.137,91.406,91.406,1.542,60.657,60.657,401.977,401.977,393.129,393.129,16.08,103.13,98.32,81.81,155673.0,4.83,3.4,257.381,302.918,7.200
1256,2023-05-02,410.84,103998500.0,1.0,2.731,3.076,-0.345,51.012,64.044,64.044,61.439,61.439,69.253,69.253,1.141,53.285,53.285,402.079,402.079,393.281,393.281,17.78,105.70,99.60,82.08,155673.0,4.83,3.4,257.381,302.918,5.429
1257,2023-05-03,408.02,91531800.0,2.0,2.258,2.912,-0.655,30.636,52.908,52.908,58.595,58.595,41.532,41.532,0.976,49.381,49.381,402.288,402.288,393.435,393.435,18.34,106.29,100.25,82.28,155673.0,4.83,3.4,257.381,302.918,3.500
1258,2023-05-04,405.13,94901900.0,3.0,1.631,2.656,-1.025,10.015,38.610,38.610,51.934,51.934,11.963,11.963,0.841,45.688,45.688,402.450,402.450,393.524,393.524,20.09,105.24,100.23,82.41,155673.0,4.83,3.4,257.381,302.918,8.000

In [6]:
merger.combination.isna().sum()

date                0
close               0
volume              0
day                 0
macd                0
macds               0
macdh               0
rsv_9               0
kdjk_9              0
kdjk                0
kdjd_9              0
kdjd                0
kdjj_9              0
kdjj                0
rs_14               0
rsi_14              0
rsi                 0
close_50_sma        0
ma50                0
close_200_sma       0
ma200               0
vix                 0
TLT                 0
IEF                 0
SHY                 0
NFP                 0
InterestRate        0
UnemploymentRate    0
PPI                 0
CPI                 0
benz_rate           0
dtype: int64

In [7]:
merger.export_to_csv()